<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Writing</title>
</head>
<body>
<h1>Edit Writing</h1>
<p>
    <a href="/writing/">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/writing/edit}" th:object="${writing}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <input th:type="hidden" name="time" th:field="*{time}">
    <table>
        <tr>
            <td>Tittle:</td>
            <td><input type="text" th:field="*{tittle}"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${categories}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit Writing"></td>
        </tr>
    </table>
</form>
</body>
</html>