<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Put Basket</title>
</head>
<body>
    <div>
        <!--/*@thymesVar id="product" type="com.basket.model.Product"*/-->
        <div>
            <div>
                <img th:src="${product.img}">
                <p th:text="${product.price}"></p>
                <form th:action="@{/put}" method="post">
                    <input type="number" name="id" id="id" th:value="${product.id}" hidden>
                    <input type="submit" value="Buy">
                </form>
            </div>
            <div>
                <p th:text="${product.content}"></p>
            </div>
        </div>
    </div>
</body>
</html>